<nav class="navbar">
  <div class="navbar-logo">
    <a href="#">
      <img src="/public/image/unnamed.png" alt="Logo">
    </a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/homepage">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/registeruser">New User Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
  </ul>
  
</nav>

<form id="search-form"  method="post">
  <label for="searchInput">Search: </label><br>
    <input class="search-bar" type="text" name="searchInput" id="searchInput" placeholder="Search by postal code | Address | City | State | Country">
    {{#if reset}}
      <input type="submit" value="Reset" aria-label="Click here to Reset" >
    {{else}}
      <input type="submit" value="Search" aria-label="Click here to Search" >
    {{/if}}
  </form>


{{#if isEmptyListings}}
  <p>No listings found.</p>
{{else}}
  {{#each listings}}
    <div class="listing-card">
      <div class="card-content" data-listing-id="{{_id}}">
        <h1 class="listing-name">{{listingName}}</h1>
        <p class="listing-link"><a href="{{listingLink}}" target="_blank">{{listingLink}}</a></p>
        <p class="listing-address"> Street: {{street}}</p>
        <p class="listing-city">City: {{city}}</p>
        <p class="listing-state">State: {{state}}</p>
        <p class="listing-country">Country: {{country}}</p>
        <p class="listing-pincode">Pincode: {{pincode}}</p>
        <p class="listing-rent">Rent: {{rent}}</p>
        <p class="listing-additionalinfo">Additional Info: {{additionalInfo}}</p>
        <p class="listing-agent">Agent Number: {{agentNumber}}</p>
        <p class="listing-owner">Owner Number: {{ownerNumber}}</p>
        <p class="listing-reward">Reward: {{reward}}</p>
      </div>
    </div>
  {{/each}}
{{/if}}

<!--From professor's lecture code , modified according to requirement of lab9-->
<!--Used type="module" to counter error thrown at console for importing helper.js inside lab10.js-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/main.js" ></script>
