{{!--

If the user is logged in , and 'GET /protected' endpoint is called, you will render this view based on the specs.

--}}

<nav class="navbar">
  <div class="navbar-logo">
    <a href="#">
      <img src="public\image\unnamed.png" alt="Logo">
    </a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Subscribed Listing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Listing History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Rewards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>

<div class="pageTitle">
    <p>
        {{title}}
    </p>
</div>

<p>
    Welcome {{firstName}}, the time is now: {{currentTime}}. Your role in the system is: {{role}}.
</p>

{{{primaryuser}}}
