<style>

    .commenter-name {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

  .comments-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .comment-card {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 60%;
    clear: both;
    overflow: auto;
  }

  .left {
    float: left;
    background-color: #f1f1f1;
  }

  .right {
    float: right;
    background-color: #ddd;
  }

  .timestamp {
    font-size: 0.8em;
    color: #626262;
  }
</style>

<nav class="navbar">
  <div class="navbar-logo">
    <a href="#">
      <img src="/public/image/unnamed.png" alt="Logo">
    </a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addlisting">Add Listings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/viewprimarylistings">View Listings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/viewScoutSubscribedlistings">View Listings Subscribed By Scouts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/primaryWallet">My Wallet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>

<br>

<div class="listing-card">
  <form id="commentForm">
    <h1 class="listingName">{{listing.listingName}}</h1>
    <p class="listingLink"><a href="{{listing.listingLink}}" target="_blank">{{listing.listingLink}}</a></p>
    <p class="scoutName">Scout Assigned: {{listing.scoutName}}</p>

    <label for="commentInput">Comments:</label>
    <textarea id="commentInput" name="commentInput" rows="4" cols="50" oninput="getCharCount()" placeholder="Please enter your comment here"></textarea>
    <p><span id="charCount">500</span> characters remaining</p>
    <br>

    <input type="hidden" id="listingIdInput" name="listingIdInput" value="{{listing._id}}">
    <input type="hidden" id="userIdInput" name="userIdInput" value="{{listing.userID}}">
    <input type="hidden" id="scoutIdInput" name="scoutIdInput" value="{{listing.scoutID}}">
    <input type="hidden" id="messengerTypeInput" name="messengerTypeInput" value="primary">

    <br>
    
    {{#if twentyFive}}
      <p>Progress: 25% | Scout has subscribed to this listing!! awaiting their response</p>
    {{/if}}
  
    {{#if fifty}}
      <p>Progress: 50% | Scout has Started Initial Inspection Phase!!</p>
    {{/if}}

    {{#if seventy}}
      <p>Progress: 70%</p>
      {{#if hasMoney}}
        <p>Press Approve to close this listing!</p>
        <button type="button" class="approve-task-btn">Approve</button>
      {{else}}
        <p>Insufficient balance!! Please load your balance to get option to pay!</p>
      {{/if}}
      
    {{/if}}

    {{#if hundred}}
      <p>Congrats!! This task has been closed successfully!!</p>
    {{/if}}
    <br>
    <br>

    <button type="submit">Submit</button>
  </form>
</div>

<div id="error" class="error" hidden></div>
    {{{error}}}


<div class="comments-container">
  {{#each commentsList}}
    <div class="comment-card {{side}}">
      <div class="commenter-name">
        {{#if isCurrentUser}}
          You
        {{else}}
          {{scoutName}}
        {{/if}}
      </div>
      <div class="message">
        {{comment}}
      </div>
      <div class="timestamp">
        {{timestamp}}
      </div>
    </div>
  {{/each}}
</div>



  <script src="/public/js/comment.js" ></script>